.mains{
    background-image: url('../public/image/READMEall.png');
    background-size: contain;
    background-position-y: 580px;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
}