@import "tailwindcss";

html,
body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url('../public/image/README.png');
    background-size: cover;
    background-repeat: no-repeat;
}